{% extends "Admin/admin.html" %}
{% block content %}


{% for i in posted %}
<div class="card">
  <div class="card-body">
<li>Product:{{i.product_name}}</li>
<li>Description:{{i.description}}</li>
<li>Price:{{i.price}}</li>
<li>Category:{{i.category}}</li>
<li>Brand:{{i.brand}}</li>
<li>Date of Post:{{i.created_date}}</li>
<li>Date of Updation:{{i.last_update}}</li>
      <li> {% if i.image %}
       <img src="{{ i.image.url }}"  width="50" height="50">
      {% endif %}
      </li>
      <li><form action="{% url 'delete_product' i.id %}" method="POST" class="d-inline-block">
{% csrf_token %}
                <input type="submit" class="btn btn-danger" value="delete"/>
            </form></li>
      <a href="{% url 'update_product' i.id %}">
                <button type="button" class="btn btn-primary">Update</button>
            </a>

      </div>
    </div>


{% endfor %}


{% endblock %}