{% extends "Admin/admin.html" %}
{% block content %}


{% for i in posted %}
<div class="card" style="width: 18rem;">
    {% if i.image %}
       <img src="{{ i.image.url }}" class="card-img-top" >
      {% endif %}

  <div class="card-body">
      <h3 style="text-align:center;" >{{i.product_name}} - {{i.brand}}</h3>
<p>Description:{{i.description}}</p>
<li style="list-style: none;">Price:{{i.price}}</li>
      <br>

<li style="list-style: none;">Date of Updation:{{i.last_update}}</li>
      <br>

      <form action="{% url 'delete_product' i.id %}" method="POST" class="d-inline-block">
{% csrf_token %}
                <input type="submit" class="btn btn-danger" value="delete"/>
            </form>
      <a href="/like_post?post_id={{post.id}}" class="flex items-center space-x-2">
                                        <div class="p-2 rounded-full text-black">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                            </svg>
                                            {% if post.no_of_likes == 0 %}
                                            <p>No likes</p>
                                            {% elif post.no_of_likes == 1 %}
                                            <p>Liked by {{post.no_of_likes}} Customer</p>
                                            {% else %}
                                            <p>Liked by {{post.no_of_likes}} Customers</p>
                                            {% endif %}
                                        </div>

                                    </a>
      <a href="{% url 'update_product' i.id %}">
                <button type="button" class="btn btn-primary">Update</button>
            </a>

      </div>
    </div>


{% endfor %}


{% endblock %}