{% extends "Buyer/buyer_dashboard.html" %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col-md-6">
              {% if product.image %}
          <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" alt="Product Image" class="card-img-top"></a>
        {% endif %}
      </div>
    <div class="col-md-6">
        <h3>{{ product.product_name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: ₹ {{ product.price }}</p>
        <p>Brand: {{ product.brand }}</p>

{% if request.user.is_authenticated %}
  {% if request.user in product.like.all %}
    <a href="{% url 'unlike_product' product.id %}">Unlike</a>
  {% else %}
    <a href="{% url 'like_product' product.id %}">Like</a>
  {% endif %}
{% endif %}

<p>Likes: {{ product.like_count }}</p>

          <a style="padding-left:5px;">
              <button class="btn btn-danger btn-lg">Buy Now</button>
          </a>
          </div>
      </div>
  </div>
</div>
{% endblock %}
